[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pypdf = "3.17.4"
streamlit = "1.28.2"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.12"
